*.retry

# ansible-lint and ansible-test local collection install cache
.ansible/
collections/ansible_collections/

# ansible-galaxy build output
*.tar.gz

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Editor artifacts
*.swp
*.swo
.DS_Store
.vscode/